:root {
  --primary: #b43e8f;
  --secondary: #0e79b2;
  --grey-color: #7a7d7d;
  --black-color: #191923;
  --white-color: #fbfef9;
}

p {
  margin-bottom: 0;
}

h2 {
  text-align: center;
}

i {
  color: var(--primary);
}

.border-primary {
  border-color: var(--primary) !important;
}

b {
  color: var(--secondary);
}

nav {
  background-color: var(--primary);
}

nav a {
  color: var(--white-color);
  transition: 0.2s linear;
}

nav a:hover {
  color: var(--black-color);
}

img {
  width: 250px;
}

.active {
  color: var(--black-color);
}

.exp-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp-list {
  list-style: none;
}

.exp-item {
  display: flex;
  flex-direction: column;
  padding: 1% 5% 9% 5%;
  border: 1px solid var(--grey-color);
  border-radius: 5px;
}

.exp-desc {
  margin-top: 2%;
}

.exp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 50px;
  height: 50px;
}

.about-container {
  padding: 5%;
  border: 1px solid var(--grey-color);
  border-radius: 5px;
}

.about-sub-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5%;
}

.about-details-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.detail-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery {
  width: 200px;
  height: 200px;
}

.img-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
